@import "normalize.css";
*{
	margin: 0;
	padding: 0;
}
html
{
	 min-height: 100%;
     position: relative;
}

body
{
	 background:url(../img/fondo.jpg)  center;
	 background-attachment:fixed;
	 -webkit-background-size: 100% 100%;           
     -moz-background-size: 100% 100%;           
      -o-background-size: 100% 100%;           
       background-size: 100% 100%;
	
}


header .contacto
{
	display:flex;
	float:left;
	margin-left:2.5%;
	margin-top:0.5%;
	width:3%;
}

header .contacto a  img
{
	width:135px;
}


header .usuario{
	width:10%;
	float:left;
	margin-left:0.2%;
    background:#4D105D;
	padding:0.5%;
	overflow:hidden;
	color:#fff;	
}

header .terminarSesion{
	float: right;
}
header .terminarSesion a{
	text-decoration: none;
	color: white;
}

header .logotipo{	
	clear:both;
	margin-left:0.2%;
	margin-top:0.2%;
	widht:10%;
	float:left;
	overflow:hidden;
	
}


header .busqueda{
	display:flex;
	float:left;
	margin-left:5%;
	margin-top:1%;
	width:70%;	
	
	box-shadow:
   1px 1px 0 rgb(77, 16, 93),
   2px 2px 0 rgb(77, 16, 93),
   3px 3px 0 rgb(77, 16, 93),
   4px 4px 0 rgb(77, 16, 93),
   5px 5px 0 rgb(77, 16, 93),
   6px 6px 0 rgb(77, 16, 93),
   7px 7px 0 rgb(77, 16, 93)
  ;
}
.busqueda>input[type=text],
.busqueda>button {
  display:block;
  cursor:pointer; cursor: hand;
  font:1.2em 'Montserrat Alternates';
}
.busqueda>input[type=text] {
  flex:1;
  padding:0.6em;
  border:0.2em solid rgb(81, 36, 113);
}

.busqueda>button {
  padding:0.6em 0.8em;
  background-color:rgb(81, 36, 113);
  color:white;
  border:none;
}

header nav{
	width:99%;
	
	margin: 0.2%;
	background:#4D105D;
	overflow:hidden;
	clear:both;
   box-shadow:
   1px 1px 0 rgb(0, 0, 0),
   2px 2px 0 rgb(0, 0, 0),
   3px 3px 0 rgb(0, 0, 0),
   4px 4px 0 rgb(0, 0, 0);
	
}
header nav ul{
	list-style:none;
	
}
header nav ul li{
	float:left;
}
header nav ul li a{
	padding:10px 20px;
	display:block;
	color:#fff;
	text-decoration:none;
}
header nav ul li a:hover{
	background:#75acec
	
}

 .carrito
{
	display:flex;
	float:left;
	margin-left:42%;
	margin-top:3%;
	width:35%;
}
.carrito>img
{
width:40%;
height:30%;
}
.alquiler
{
	float: left;
	width:40%;
	margin-top:2%;
	margin-left:30%;
	background:#fff;
}
.contenido>img
{
	float:left;
	margin:2%;
	margin-left:9%;
}
.modificar 
{
  padding:10px;
 background:#fff;
  margin-top: 1%;
  margin-left:20%;
  color:white;
  margin-bottom:1%;
  border:none;
  float:left;
}
.modificar>img
{
	padding:4%;
}

.eliminar
{
  padding:9px;
  background:#fff;
  margin-top: 1%;
  margin-bottom:1%;
  color:white;
  border:none;
  float:left;
}
.detalle
{
	margin-left:90%;
	width:6%;
	padding:1%;
	background:#000;
	color:#fff;

	
}
.detalle:hover
{
	background:#75acec
}
.fecha:hover
{
	background:#75acec
}
.fecha
{
		margin-left:90%;
		margin-top:1%;
		width:6%;
		padding:1%;
		background:#000;
		color:#fff;
}
footer {
    position: fixed;
    left: 0;
	bottom:0;
	margin:2%;
	margin-bottom:0.5%;
    width: 94%;
    background-color: black;
    color: white;
	font-size:20px;
    text-align: center;
}